<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="K2WorkflowServer" value="dlx"/>
		<add key="K2WorkflowServerPort" value="5555"/>
		<add key="K2SOConnectionString" value="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=dlx;Port=5555"/>
		<add key="K2WorkflowServerConnectionString" value="Integrated=True;IsPrimaryLogin=False;Authenticate=True;EncryptedPassword=False;Host=localhost;Port=5252"/>
		<add key="K2ManagementServerConnectionString" value="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=localhost;Port=5555"/>
		<add key="K2WorkflowServerConnectionStringImpersonate" value="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=True;Host=localhost;Port=5252;WindowsDomain=denallix;UserID=K2Service;Password=K2pass!"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IProcessNavigationService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" proxyCredentialType="None"
								realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IWorklistNavigationService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" proxyCredentialType="None"
								realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IIdentityService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" proxyCredentialType="None"
								realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ICoreService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" proxyCredentialType="None"
								realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://dlx.denallix.com:81/K2Services/WCF.svc/Process"
					binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessNavigationService"
					contract="K2Services.IProcessNavigationService" name="BasicHttpBinding_IProcessNavigationService" />
			<endpoint address="http://dlx.denallix.com:81/K2Services/WCF.svc/Worklist"
					binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorklistNavigationService"
					contract="K2Services.IWorklistNavigationService" name="BasicHttpBinding_IWorklistNavigationService" />
			<endpoint address="http://dlx.denallix.com:81/K2Services/WCF.svc/Identity"
					binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService"
					contract="K2Services.IIdentityService" name="BasicHttpBinding_IIdentityService" />
			<endpoint address="http://dlx.denallix.com:81/K2Services/WCF.svc/Core"
					binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoreService"
					contract="K2Services.ICoreService" name="BasicHttpBinding_ICoreService" />
		</client>
	</system.serviceModel>
</configuration>